*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#hh1{
    color: rgb(240, 7, 7);
    border-bottom: 4px solid rgb(240, 7, 7);
    padding-bottom: 10px;
    display: inline-block;
}
.nav1{
  position: sticky;  /* Hybrid of relative and fixed */
  top: 0;            /* The point where it begins sticking */
  z-index: 1000;
}
#u1{
    float: right;
    display: flex;
}
#a1{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.join {
  padding: 12px 28px; 
  border-radius: 40px;    
  background: #dc3dc1;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
  display: inline-block;
}
.join:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(216, 30, 30, 0.4); 
  background-color: #2563eb;    
}
.s1{
    color: #fff;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.imgbg{
    position: absolute;
    inset: 0;
    background-image: url(https://plus.unsplash.com/premium_photo-1661963603353-9176e99020d9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fHBhbm9yYW1pY3xlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    z-index: 0;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 25px;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}
.div1{
    position: relative;
    z-index: 3;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.div1 h1{
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: 28px;
    line-height: 1.2;
    max-width: 850px;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 720px;
}
.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #555;
  pointer-events: none;
  cursor: pointer;
}
.search-box input {
  width: 100%;
  padding: 18px 26px 18px 52px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
}
.tags{
     margin-top: 22px;
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     justify-content: center;
}
.tags span{
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
    background: rgba(255, 255, 255, 0.22);
}
